:root {
    --blue: #4f7cdc;
    --violet: #4f2e6e;
    --normal-font: 'Share Tech', sans-serif;
    --header-font: 'Oswald', sans-serif;
}

::selection {
    color: var(--bs-white);
    background-color: var(--violet);
}

::-webkit-scrollbar {
    width: 8px;
}  
  
::-webkit-scrollbar-track {
    background-color: #030c1c;
}
   
::-webkit-scrollbar-thumb {
    background: var(--blue); 
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--normal-font);
    box-sizing: border-box;
}

header .navbar .navbar-nav li .nav-link {
    display: block;
    width: fit-content;
    color: var(--bs-white);
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: none;
    font-family: var(--header-font);
    position: relative;
    max-width: max-content;
}

header .navbar .navbar-nav li .nav-link.active {
    color: var(--blue);
}

header .navbar .navbar-nav li .nav-link:hover {
    color: var(--blue);
    opacity: .8;
}

header .navbar .navbar-nav li .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid var(--blue);
    transform: scaleX(0.2);
    opacity: 0;
    transition: .5s;
}

header .navbar .navbar-nav li .nav-link:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    opacity: 1;
}

.section-head {
    font-size: clamp(calc(1.325rem + .9vw), calc(1.5rem + .9vw), calc(1.7rem + .9vw));
    font-family: var(--header-font);
    letter-spacing: 2px;
    font-weight: 600;
}

.white-bg {
    background-color: var(--bs-white);
    padding: 4rem 0;
    color: var(--bs-black);
}

.black-bg {
    background-color: var(--bs-black);
    padding: 4rem 0;
    color: var(--bs-white);
}

.video-container {
    background: url(assets/videoThumbnail.jpg) rgba(0, 0, 0, .4);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 70vh;
    margin-top: 100px;
    position: relative;
}


.video-container h1, .port-head, .contact-head{
    font-size: clamp(calc(1.325rem + .9vw), calc(1.7rem + .9vw), calc(1.9rem + .9vw));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.video-container .link-btn  {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-video {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

.bio-intro .img-fluid {
    height: 30vh;
}

.section-content {
    line-height: 30px;
}

.link-btn {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    padding: .6rem 1rem;
    font-family: var(--header-font);
    letter-spacing: 1px;
    background-color: var(--bs-white);
    border-radius: 3px;
    color: var(--bs-black);
    max-width: max-content;
    overflow: hidden;
    z-index: 1;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.link-btn::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: var(--blue);
    transition: .5s;
    z-index: -1;
}

.link-btn:hover {
    color: var(--bs-white);
    border-color: var(--bs-black);
}

.link-btn:is(:hover, :focus-visible)::before {
    bottom: -50%;
}

.link-btn-black {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    padding: .6rem 1rem;
    font-family: var(--header-font);
    letter-spacing: 1px;
    background-color: var(--bs-black);
    border-radius: 3px;
    color: var(--bs-white);
    max-width: max-content;
    overflow: hidden;
    z-index: 1;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.link-btn-black::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200%;
    height: 200%;
    border-radius: 35%;
    background-color: var(--violet);
    transition: .5s;
    z-index: -1;
}

.link-btn-black:hover {
    color: var(--bs-white);
    border-color: var(--bs-black);
}

.link-btn-black:is(:hover, :focus-visible)::before {
    right: -110%;
}

/*Divider Styles*/
.custom-shape-divider-top-1697449394 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1697449394 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 92px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1697449394 .shape-fill {
    fill: var(--bs-black);
}

.custom-shape-divider-top-1697450334 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1697450334 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 92px;
}

.custom-shape-divider-top-1697450334 .shape-fill {
    fill: var(--bs-white);
}

.custom-shape-divider-top-1697462694 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1697462694 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 102px;
}

.custom-shape-divider-top-1697462694 .shape-fill {
    fill: var(--bs-black);
}

.custom-shape-divider-top-1697462483 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1697462483 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 92px;
}

.custom-shape-divider-top-1697462483 .shape-fill {
    fill: var(--bs-white);
}

.contact-container {
    width: 100%;
}

.contact-container h3 {
    margin-top: 1rem;
}

.contact-container a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--bs-white);
    border-bottom: 1px solid transparent;
    padding-bottom: .2rem;
    transition: .2s ease-in-out;
}

.contact-container a:hover {
    color: var(--blue);
    border-color: var(--blue);
}

.floating-social {
    z-index: 1000;
    list-style: none;
    padding: 0;
    background-color: transparent;
    transform: translateY(-50%);
}

.floating-social a {
    display: block;
    text-decoration: none;
    color: var(--bs-white);
    transition: .2s;
    padding: .2rem .4rem;
    background-color: var(--bs-dark);
}

.floating-social li:hover a{
    transform: translateX(calc(-10px - .4rem));
}

.floating-social li i {
    font-size: 30px;
}

footer .img-fluid {
    display: block;
    width: 50%;
    margin: 1rem auto;
}

footer h4 {
    font-family: var(--header-font);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-top: 1rem;
    width: fit-content;
    transition: .2s ease-in;
}

footer ul li:hover {
    transform: translateX(20px);
    color: var(--blue);
}

footer ul li i:nth-child(2) {
    font-size: 1.2rem;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
}

footer iframe {
    width: 90%;
}

/*Portfolio Styles*/
.website-no {
    font-size: 1.7rem;
}

.website-no div:last-child {
    color: var(--blue);
}

.track-container {
    min-height: fit-content;
}

.track-container > div {
    min-height: calc(56vmin + 8rem);
    padding: 4rem 0;
}

.image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 20%;
    top: 4rem;
    transform: translate(0%, 0%); 
    user-select: none;
}
  
.track-image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

.portfolio-carousel {
    width: 100%;
}

.portfolio-carousel img {
    height: 40vh;
}

/*About Styles*/

.about-main-img {
    margin-top: 100px;
    height: 30vh;
}

.bio-intro .img-fluid.myPic {
    height: 40vh;
}

.food-container {
    width: 100%;
    height: 45vh;
}

.food-container img {
    position: absolute;
    width: 80%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    border: 5px solid var(--bs-white);
}

.food-container img:nth-child(2) {
    bottom: 0;
    right: 10%;
}

/*Contact Styles*/

.bubbles-container {
    position: relative;
    width: 100%;
    height: 70vh;
    margin-top: 100px;
    overflow: hidden;
    background-color: var(--bs-black);
}

.bubbles {
    position: relative;
    display: flex;
    justify-content: center;
}

.bubbles span {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 4px;
    background-color: var(--blue);
    box-shadow: 0 0 0 10px #365496,
    0 0 50px var(--blue),
    0 0 100px var(--blue);
    animation: riseBubbles 15s linear infinite;
    animation-duration: calc(125s / var(--delay));
}

.bubbles span:nth-child(even) {
    background-color: var(--violet);
    box-shadow: 0 0 0 10px #311a46,
    0 0 50px var(--violet),
    0 0 100px var(--violet);
}

@keyframes riseBubbles {
    0% {
        transform: translateY(70vh) scale(0);
    }

    100% {
        transform: translateY(0vh) scale(1);
    }
}

.contact img {
    height: 50px;
    width: 50px;
}

.contact h2 {
    color: var(--bs-light);
}

.contact section p {
    text-align: center;
    color: var(--bs-gray-500);
}

.contact section a {
    text-decoration: none;
    color: inherit;
    transition: .1s;
    padding-bottom: .1rem;
    border-bottom: 1px solid transparent;
}

.contact section a:hover {
    border-color: var(--bs-light);
    color: var(--bs-light);
}

/* Might Add Cubes Back Later
.cube {
    position: relative;
    left: 10%;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation:  rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bs-black), var(--blue));
    transform: rotateY(calc(90deg * var(--pos))) translateZ(75px);
}

.cube .cube-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: var(--bs-black);
    transform: rotateX(90deg) translateZ(75px);
}

.cube .cube-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: var(--blue);
    transform: translateZ(-190px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(25, 53, 82, 0.2),
    0 0 200px rgba(25, 53, 82, .4),
    0 0 300px rgba(25, 53, 82, .6),
    0 0 400px rgba(25, 53, 82, .8),
    0 0 500px rgba(25, 53, 82, 1);
}

.cube.second-cube {
    top: -150px;
    left: 80%;
    animation:  rotate 4s linear infinite;
}

.cube.second-cube div span {
    background: linear-gradient(var(--bs-black), var(--violet));
}

@keyframes rotateLeft {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    
    100% {
        transform: rotateX(-30deg) rotateY(-360deg);
    }
}

.cube.second-cube .cube-top::before {
    background: var(--violet);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(68, 25, 82, 0.2),
    0 0 200px rgba(68, 25, 82, .4),
    0 0 300px rgba(68, 25, 82, .6),
    0 0 400px rgba(68, 25, 82, .8),
    0 0 500px rgba(68, 25, 82, 1);
}*/


.contact-map {
    width: 100%;
    height: 50vh;
}

@media only screen and (min-width: 768px) {
    .main-heading {
        background-color: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .bg-video {
        display: block;
    }

    .bio-intro section {
        width: 45%;
    }

    .bio-intro .img-fluid {
        width: 50%;
        height: 50vh;
        object-fit: contain;
    }

    .divider-space {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .contact-container {
        width: 50%;
    }

    footer .img-fluid {
        width: 70%;
        margin: 2rem auto;
    }

    /*Portfolio Styles*/

    .portfolio-container > section {
        width: 65%;
    }
    
    .portfolio-carousel {
        width: 33%;
    }

    .portfolio-container.portfolio-container-database > section {
        width: 53%;
    }

    .portfolio-carousel.portfolio-carousel-database {
        width: 45%;
    }

    /*About Styles*/
    
    .about-main-img {
        height: 70vh;
    }

    .food-container {
        width: 50%;
        min-height: 80vh;
    }

    .food-container img {
        width: 55%;
        height: 60vh;
    }

    .food-container img:nth-child(1) {
        top: 0;
        left: 0;
    }

    .food-container img:nth-child(2) {
        bottom: 0;
        right: 10%;
    }

    /*Contact Styles*/

    .bubbles span {
        width: 15px;
        height: 15px;
    }

    .contact section {
        width: 33%;
    }

}

@media only screen and (min-width: 992px) {
    .video-container h1 {
        font-size: 4rem;
    }
    
    /*Contact Styles*/

    .bubbles span {
        width: 30px;
        height: 30px;
    }
}